body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    box-sizing: border-box;
    gap: 50px;
    flex-direction: column;
    padding: 10px;
    height: 100vh;
    padding-left: 30px;
    border-right: 1px solid white;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav-mens a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px;
    border-radius: 50px;
}

.nav-mens a:hover {
    transition: ease-in-out .5s;
    background-color: rgba(255, 255, 255, 0.172);

}

.nav-mens {
    gap: 5px;

    display: flex;
    flex-direction: column;
}

.nav a p {
    font-size: 25px;
    margin: 0;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 120px);
}

.logarea {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgb(17, 12, 12);
}

.logpic {
    width: 100%;
    height: 100%;
    background: url('https://source.unsplash.com/random/800x600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.logcard {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.811);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    min-width: 400px;

}

.logcard h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;

}

.logspace {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logspace p {
    margin: 0;
    font-size: 12px;
    color: rgb(186, 186, 186);
    font-family: 'Roboto', sans-serif;
}

.logspace a {
    text-decoration: none;
    color: cyan;
}

.logimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logspace img {
    height: 80px;
    width: 80px;
}

.logspace a:hover {
    color: rgb(0, 255, 225);
    transition: ease-in-out .5s;
}

.logspace form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.logspace form input {
    padding: 10px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.311);
}

.logspace form input:focus {
    border: 1px solid rgb(0, 255, 225);
    background-color: rgba(255, 255, 255, 0.305);
    outline: none;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn input {
    color: #fff;
    background-color: rgb(43, 43, 82) !important;
    cursor: pointer;
    border-radius: 5px;
}

.btn input:hover {
    background-color: rgb(15, 38, 36) !important;
    transition: ease-in-out .5s;
}

.logspace h2 {
    padding: 5px;
    margin: 0;
    font-size: 14px;
    background-color: red;
}

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.loggedIn {
    color: cyan !important;
}

.logout {
    color: red !important;
}

.home {
    display: flex;
    min-height: 100vh;
}

.navclass {
    height: 100%;
    background-color: #fff;
}

.men-post {
    background-color: rgb(14, 68, 110) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.recent {
    padding: 10px;
}

.rescard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgb(14, 68, 110);
    border-radius: 10px;
    margin: 10px;
    width: 280px;
    min-height: 220px;
}

.rescard h1 {
    font-size: 14px;
    margin: 0;
}

.rescard input,
textarea {
    font-size: 12px;
    margin: 0;
    padding: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.181);
    width: 90%;
    margin-top: 3px;
    border: 0;
    size-adjust: none;
}

.rescard input::placeholder,
.rescard textarea::placeholder {
    color: #fff;
}

.recentposts {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.rc2 {
    background-color: rgb(42, 42, 42) !important;
    /* height: auto !important; */
    padding: 10px;
}